<footer class="">
    <div class="bg-gray-4000">
        <div class="container px-md-5">
            <div class="d-flex flex-wrap align-items-center pt-6 pb-3d border-bottom mb-7 border-gray-4100">
                <a (click)="navigate('')" class="mb-4 mb-md-0 mr-auto">
                    <img src="assets/imgs/plinvr-white.png" style="width: 200px;" />
                </a>
                <ul class="list-unstyled mx-n3 mb-0 d-flex flex-wrap align-items-center">
                    <li class="px-3">
                        <a href="https://www.facebook.com/plinvr" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-facebook-f fa-inverse"></i> <span class="ml-2">Facebook</span></a>
                    </li>
                    <li class="px-3">
                        <a href="https://twitter.com/plinvr" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-twitter fa-inverse"></i> <span class="ml-2">Twitter</span></a>
                    </li>
                    <li class="px-3">
                        <a href="https://www.instagram.com/plinvr_" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-instagram fa-inverse"></i> <span class="ml-2">Instagram</span></a>
                    </li>
                    <li class="px-3">
                        <a href="https://medium.com/@plinvrltd" class="text-gray-1300 d-flex flex-wrap align-items-center"><i class="fab fa-medium fa-inverse"></i> <span class="ml-2">Medium</span></a>
                    </li>
                </ul>
            </div>
            <div class="row pb-5">
                <div class="col-md mb-5 mb-md-0">
                    <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">VR Categories</h4>
                    <ul class="column-count-2 v2 list-unstyled mb-0">
                        <li class="py-1d" *ngFor="let category of categories">
                            <a class="h-g-white" (click)="navigate('category/'+category.id)">{{ category.name }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md mb-5 mb-md-0">
                    <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">VR Series</h4>
                    <ul class="column-count-2 v2 list-unstyled mb-0">
                        <li class="py-1d" *ngFor="let series of allSeries">
                            <a class="h-g-white" (click)="navigate('series/'+series.id)">{{ series.name }}</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-2 mb-5 mb-md-0 border-left border-gray-4100">
                    <div class="ml-1">
                        <h4 class="font-size-18 font-weight-medium mb-4 text-gray-4200">Support</h4>
                        <ul class="list-unstyled mb-0">
                            <li class="py-1d">
                                <a class="h-g-white" href="../static/contact.html">My Account</a>
                            </li>
                            <li class="py-1d">
                                <a class="h-g-white" href="../static/contact.html">FAQ</a>
                            </li>
                            <li class="py-1d">
                                <a class="h-g-white" href="../static/contact.html">Watch on TV</a>
                            </li>
                            <li class="py-1d">
                                <a class="h-g-white" href="../static/contact.html">Help Center</a>
                            </li>
                            <li class="py-1d">
                                <a class="h-g-white" href="../static/contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-4300">
        <div class="container px-md-5">
            <div class="text-center d-md-flex flex-wrap align-items-center py-3">
                <div class="font-size-13 text-gray-1300 mb-2 mb-md-0">Copyright © 2020, PLINVR. All Rights Reserved</div>
                <a href="../static/contact.html" class="font-size-13 h-g-white ml-md-auto">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>