<app-header></app-header>
<main id="content">
    <div class="bg-gray-1100 pb-6">
        <div class="container px-md-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb dark pt-5" *ngIf="series">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a (click)="navigate('category/' + series.category.id)">{{ series.category.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{ series.name }}</li>
                </ol>
            </nav>
        </div>
        <div>
            <div class="position-relative bg-single-player mb-3">
                <img class="img-fluid w-100 h-393rem object-fit-cover" [src]="series.raw" [alt]="series.name">
            </div>
        </div>
        <div class="container pt-md-5">
            <div class="d-md-flex align-items-center justify-content-between mb-5">
                <div>
                    <h6 class="font-size-24 text-white font-weight-medium font-secondary mb-3 mb-md-2">{{series.name }}</h6>
                    <div class="nav nav-meta mb-3 font-size-1">
                        <div>
                            <a href="#" class="text-gray-1300" (click)="navigate('category/' + series.category.id)">{{series.category.name }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bg-gray-3100 py-5 pt-lg-7 pb-lg-6">
        <div class="container px-md-5">
            <div>

                <div class="tab-content dark">
                    <div class="tab-pane fade show active" id="pills-one-example" role="tabpanel" aria-labelledby="pills-one-example-tab">
                        <div class="max-width-900rem">
                            <div class="row mx-n2">
                                <div class="col-md-4 col-lg-3 px-2" *ngFor="let episode of series.episodes; let x = index">
                                    <div class="product mb-4 mb-lg-0">
                                        <div class="product-image mb-1">
                                            <a class="d-block position-relative stretched-link" (click)="navigate('episode/' + episode.id)">
                                                <img class="img-fluid" [src]="episode.small" [alt]="episode.name" />
                                            </a>
                                        </div>
                                        <a class="d-inline-block" (click)="navigate('episode/' + episode.id)">
                                            <span class="text-gray-1300 font-size-12">EPISODE {{ x  + 1 }}</span>
                                        </a>
                                        <div class="font-size-1 mb-0 product-title font-weight-bold">
                                            <a (click)="navigate('episode/' + episode.id)" class="d-inline-block">{{ episode.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-1100 py-5 pt-lg-8 pb-lg-9">
        <div class="container px-md-5">
            <div>
                <h5 class="text-white font-size-22 font-weight-medium mb-5">You may also like after: {{ series.name }}</h5>
                <div class="max-width-444rem dark mb-5 mb-lg-10">
                    <div class="row mx-n2">
                        <div class="col-md px-2" *ngFor="let os of otherSeries">
                            <div class="product mb-4 mb-lg-0">
                                <div class="product-image mb-1">
                                    <a class="d-block position-relative stretched-link" (click)="navigate('series/' + os.id)">
                                        <img class="img-fluid" [src]="os.small" [alt]="os.name">
                                    </a>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="product-meta font-size-1">
                                        <span><a (click)="navigate('category/' + series.category.id)" class="h-g-primary" tabindex="0">{{ os.category.name }}</a></span>
                                    </div>
                                </div>
                                <div class="font-size-1 mb-0 product-title font-weight-bold d-inline-block">
                                    <a (click)="navigate('seies/' + os.id)">{{ os.name }}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="tab-nav__v10 mb-6">
                        <ul class="nav justify-content-center border-bottom border-gray-5300" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-one-code-features-example1-tab" data-toggle="pill" href="#pills-one-code-features-example1" role="tab" aria-controls="pills-two-code-features-example1" aria-selected="true">Description</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-one-code-features-example1" role="tabpanel" aria-labelledby="pills-one-code-features-example1-tab">
                            <p class="text-gray-1300 line-height-lg"> {{ series.description }}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<app-footer></app-footer>