<app-header></app-header>
<main id="content">
    <div class="bg-gray-1100">
        <div class="container">
            <div class="row">
                <div class="col-lg-auto bg-gray-3100 d-none d-xl-block">
                    <div class="position-relative h-100">
                        <div class="py-6 pr-3d h-100 max-w-270rem sidebar-area-dark h-100">

                            <div class="border-bottom pb-3 mb-5 border-gray-3700">
                                <h6 class="font-secondary font-size-18 font-weight-medium border-bottom border-gray-3700 pb-2 mb-5 text-white">Popular Categories</h6>
                                <ul class="list-unstyled h-bg-1-dark">

                                    <li class="px-3 py-1 mb-1" *ngFor="let category of categories">
                                        <a (click)="navigate('all-series/' + category.id)" class="d-flex align-items-center mx-1">
                                            <i class="text-gray-1300 fas fa-thumbs-up"></i>
                                            <span class="font-size-1 ml-3 text-gray-3500">{{ category.name }}</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="max-w-md-1160 ml-auto my-6 mb-lg-8 pb-lg-1">

                        <div class="mb-6 pb-xl-1" *ngIf="category && category.id > 0">
                            <div class="js-slick-carousel" data-hs-slick-carousel-options='{
                                           "dots": true,
                                           "dotsClass": "slick-pagination slick-pagination-v2 mt-2"
                                         }'>
                                <div>
                                    <div class="bg-img-hero" style="height: 320px;" [ngStyle]="{'background-image': 'url(' + category.raw + ')'}">
                                        <div class="container space-top-2 px-md-7">
                                            <div class="pt-2">
                                                <div class="display-13 font-weight-semi-bold mb-1 pb-1">
                                                    <a class="text-red-3">{{category.name}}</a>
                                                </div>
                                                <div class="mb-3">
                                                    <ul class="list-unstyled nav nav-meta flex-nowrap flex-md-wrap overflow-auto overflow-md-hidden justify-content-start">
                                                        <li class="font-size-13 flex-shrink-0 flex-shrink-md-1 font-secondary">{{category.description}}</li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <section>
                            <div class="home-section mb-5">
                                <header class="d-md-flex align-items-center justify-content-between mb-3 mb-lg-1 pb-2 w-100 border-bottom border-gray-3900">
                                    <h6 class="d-block position-relative font-size-24 font-weight-medium overflow-md-hidden m-0 text-white">Tours</h6>
                                </header>
                                <div class="d-md-flex align-items-center justify-content-between">
                                    <div class="d-md-flex align-items-center pt-2">
                                        <ul class="nav justify-content-center justify-content-md-start mr-md-4 mb-3 mb-md-0 tab-nav-shop" id="pills-tab" role="tablist">
                                            <li class="nav-item mr-3">
                                                <a class="nav-link font-size-22 p-0 active" id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab" aria-controls="pills-one-example1" aria-selected="true">
                                                    <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="15px"><path fill-rule="evenodd" fill="rgb(180, 187, 192)" d="M16.500,10.999 C15.671,10.999 15.000,10.327 15.000,9.500 C15.000,8.671 15.671,7.999 16.500,7.999 C17.328,7.999 18.000,8.671 18.000,9.500 C18.000,10.327 17.328,10.999 16.500,10.999 ZM16.500,6.999 C15.671,6.999 15.000,6.328 15.000,5.499 C15.000,4.671 15.671,3.999 16.500,3.999 C17.328,3.999 18.000,4.671 18.000,5.499 C18.000,6.328 17.328,6.999 16.500,6.999 ZM16.500,3.000 C15.671,3.000 15.000,2.328 15.000,1.499 C15.000,0.671 15.671,-0.001 16.500,-0.001 C17.328,-0.001 18.000,0.671 18.000,1.499 C18.000,2.328 17.328,3.000 16.500,3.000 ZM11.500,14.999 C10.672,14.999 10.000,14.328 10.000,13.499 C10.000,12.671 10.672,11.999 11.500,11.999 C12.328,11.999 13.000,12.671 13.000,13.499 C13.000,14.328 12.328,14.999 11.500,14.999 ZM11.500,10.999 C10.672,10.999 10.000,10.327 10.000,9.500 C10.000,8.671 10.672,7.999 11.500,7.999 C12.328,7.999 13.000,8.671 13.000,9.500 C13.000,10.327 12.328,10.999 11.500,10.999 ZM11.500,6.999 C10.672,6.999 10.000,6.328 10.000,5.499 C10.000,4.671 10.672,3.999 11.500,3.999 C12.328,3.999 13.000,4.671 13.000,5.499 C13.000,6.328 12.328,6.999 11.500,6.999 ZM11.500,3.000 C10.672,3.000 10.000,2.328 10.000,1.499 C10.000,0.671 10.672,-0.001 11.500,-0.001 C12.328,-0.001 13.000,0.671 13.000,1.499 C13.000,2.328 12.328,3.000 11.500,3.000 ZM6.500,14.999 C5.671,14.999 5.000,14.328 5.000,13.499 C5.000,12.671 5.671,11.999 6.500,11.999 C7.328,11.999 8.000,12.671 8.000,13.499 C8.000,14.328 7.328,14.999 6.500,14.999 ZM6.500,10.999 C5.671,10.999 5.000,10.327 5.000,9.500 C5.000,8.671 5.671,7.999 6.500,7.999 C7.328,7.999 8.000,8.671 8.000,9.500 C8.000,10.327 7.328,10.999 6.500,10.999 ZM6.500,6.999 C5.671,6.999 5.000,6.328 5.000,5.499 C5.000,4.671 5.671,3.999 6.500,3.999 C7.328,3.999 8.000,4.671 8.000,5.499 C8.000,6.328 7.328,6.999 6.500,6.999 ZM6.500,3.000 C5.671,3.000 5.000,2.328 5.000,1.499 C5.000,0.671 5.671,-0.001 6.500,-0.001 C7.328,-0.001 8.000,0.671 8.000,1.499 C8.000,2.328 7.328,3.000 6.500,3.000 ZM1.500,14.999 C0.671,14.999 -0.000,14.328 -0.000,13.499 C-0.000,12.671 0.671,11.999 1.500,11.999 C2.328,11.999 3.000,12.671 3.000,13.499 C3.000,14.328 2.328,14.999 1.500,14.999 ZM1.500,10.999 C0.671,10.999 -0.000,10.327 -0.000,9.500 C-0.000,8.671 0.671,7.999 1.500,7.999 C2.328,7.999 3.000,8.671 3.000,9.500 C3.000,10.327 2.328,10.999 1.500,10.999 ZM1.500,6.999 C0.671,6.999 -0.000,6.328 -0.000,5.499 C-0.000,4.671 0.671,3.999 1.500,3.999 C2.328,3.999 3.000,4.671 3.000,5.499 C3.000,6.328 2.328,6.999 1.500,6.999 ZM1.500,3.000 C0.671,3.000 -0.000,2.328 -0.000,1.499 C-0.000,0.671 0.671,-0.001 1.500,-0.001 C2.328,-0.001 3.000,0.671 3.000,1.499 C3.000,2.328 2.328,3.000 1.500,3.000 ZM16.500,11.999 C17.328,11.999 18.000,12.671 18.000,13.499 C18.000,14.328 17.328,14.999 16.500,14.999 C15.671,14.999 15.000,14.328 15.000,13.499 C15.000,12.671 15.671,11.999 16.500,11.999 Z"></path>
    </svg>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item mr-3">
                                                <a class="nav-link font-size-22 p-0" id="pills-two-example1-tab" data-toggle="pill" href="#pills-two-example1" role="tab" aria-controls="pills-two-example1" aria-selected="false">
                                                    <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="15px"><path fill-rule="evenodd" fill="rgb(180, 187, 192)" d="M15.500,8.999 C14.671,8.999 14.000,8.328 14.000,7.499 C14.000,6.671 14.671,5.999 15.500,5.999 C16.328,5.999 17.000,6.671 17.000,7.499 C17.000,8.328 16.328,8.999 15.500,8.999 ZM15.500,2.999 C14.671,2.999 14.000,2.328 14.000,1.499 C14.000,0.671 14.671,-0.000 15.500,-0.000 C16.328,-0.000 17.000,0.671 17.000,1.499 C17.000,2.328 16.328,2.999 15.500,2.999 ZM8.500,14.999 C7.671,14.999 7.000,14.328 7.000,13.499 C7.000,12.671 7.671,11.999 8.500,11.999 C9.328,11.999 10.000,12.671 10.000,13.499 C10.000,14.328 9.328,14.999 8.500,14.999 ZM8.500,8.999 C7.671,8.999 7.000,8.328 7.000,7.499 C7.000,6.671 7.671,5.999 8.500,5.999 C9.328,5.999 10.000,6.671 10.000,7.499 C10.000,8.328 9.328,8.999 8.500,8.999 ZM8.500,2.999 C7.671,2.999 7.000,2.328 7.000,1.499 C7.000,0.671 7.671,-0.000 8.500,-0.000 C9.328,-0.000 10.000,0.671 10.000,1.499 C10.000,2.328 9.328,2.999 8.500,2.999 ZM1.500,14.999 C0.671,14.999 -0.000,14.328 -0.000,13.499 C-0.000,12.671 0.671,11.999 1.500,11.999 C2.328,11.999 3.000,12.671 3.000,13.499 C3.000,14.328 2.328,14.999 1.500,14.999 ZM1.500,8.999 C0.671,8.999 -0.000,8.328 -0.000,7.499 C-0.000,6.671 0.671,5.999 1.500,5.999 C2.328,5.999 3.000,6.671 3.000,7.499 C3.000,8.328 2.328,8.999 1.500,8.999 ZM1.500,2.999 C0.671,2.999 -0.000,2.328 -0.000,1.499 C-0.000,0.671 0.671,-0.000 1.500,-0.000 C2.328,-0.000 3.000,0.671 3.000,1.499 C3.000,2.328 2.328,2.999 1.500,2.999 ZM15.500,11.999 C16.328,11.999 17.000,12.671 17.000,13.499 C17.000,14.328 16.328,14.999 15.500,14.999 C14.671,14.999 14.000,14.328 14.000,13.499 C14.000,12.671 14.671,11.999 15.500,11.999 Z"></path>
    </svg>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item mr-3">
                                                <a class="nav-link font-size-22 p-0" id="pills-three-example1-tab" data-toggle="pill" href="#pills-three-example1" role="tab" aria-controls="pills-three-example1" aria-selected="false">
                                                    <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="15px"><path fill-rule="evenodd" fill="rgb(180, 187, 192)" d="M5.000,13.999 L5.000,12.999 L18.000,12.999 L18.000,13.999 L5.000,13.999 ZM5.000,6.999 L18.000,6.999 L18.000,7.999 L5.000,7.999 L5.000,6.999 ZM5.000,0.999 L18.000,0.999 L18.000,1.999 L5.000,1.999 L5.000,0.999 ZM1.500,14.999 C0.671,14.999 -0.000,14.327 -0.000,13.499 C-0.000,12.671 0.671,11.999 1.500,11.999 C2.328,11.999 3.000,12.671 3.000,13.499 C3.000,14.327 2.328,14.999 1.500,14.999 ZM1.500,8.999 C0.671,8.999 -0.000,8.328 -0.000,7.499 C-0.000,6.671 0.671,5.999 1.500,5.999 C2.328,5.999 3.000,6.671 3.000,7.499 C3.000,8.328 2.328,8.999 1.500,8.999 ZM1.500,2.999 C0.671,2.999 -0.000,2.328 -0.000,1.499 C-0.000,0.671 0.671,-0.001 1.500,-0.001 C2.328,-0.001 3.000,0.671 3.000,1.499 C3.000,2.328 2.328,2.999 1.500,2.999 Z"></path>
    </svg>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item mr-2">
                                                <a class="nav-link font-size-22 p-0" id="pills-four-example1-tab" data-toggle="pill" href="#pills-four-example1" role="tab" aria-controls="pills-four-example1" aria-selected="false">
                                                    <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="15px"><path fill-rule="evenodd" fill="rgb(180, 187, 192)" d="M5.000,13.999 L5.000,12.999 L18.000,12.999 L18.000,13.999 L5.000,13.999 ZM5.000,8.999 L18.000,8.999 L18.000,10.000 L5.000,10.000 L5.000,8.999 ZM5.000,4.999 L18.000,4.999 L18.000,5.999 L5.000,5.999 L5.000,4.999 ZM5.000,0.999 L18.000,0.999 L18.000,1.999 L5.000,1.999 L5.000,0.999 ZM1.500,14.999 C0.671,14.999 -0.000,14.327 -0.000,13.499 C-0.000,12.671 0.671,11.999 1.500,11.999 C2.328,11.999 3.000,12.671 3.000,13.499 C3.000,14.327 2.328,14.999 1.500,14.999 ZM1.500,10.999 C0.671,10.999 -0.000,10.328 -0.000,9.499 C-0.000,8.671 0.671,7.999 1.500,7.999 C2.328,7.999 3.000,8.671 3.000,9.499 C3.000,10.328 2.328,10.999 1.500,10.999 ZM1.500,6.999 C0.671,6.999 -0.000,6.328 -0.000,5.499 C-0.000,4.671 0.671,3.999 1.500,3.999 C2.328,3.999 3.000,4.671 3.000,5.499 C3.000,6.328 2.328,6.999 1.500,6.999 ZM1.500,2.999 C0.671,2.999 -0.000,2.328 -0.000,1.499 C-0.000,0.671 0.671,-0.001 1.500,-0.001 C2.328,-0.001 3.000,0.671 3.000,1.499 C3.000,2.328 2.328,2.999 1.500,2.999 Z"></path>
    </svg>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link font-size-22 p-0 ml-2" id="pills-five-example1-tab" data-toggle="pill" href="#pills-five-example1" role="tab" aria-controls="pills-five-example1" aria-selected="false">
                                                    <div class="d-md-flex justify-content-md-center align-items-md-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="13px"><path fill-rule="evenodd" fill="rgb(180, 187, 192)" d="M-0.000,13.000 L-0.000,11.999 L17.000,11.999 L17.000,13.000 L-0.000,13.000 ZM-0.000,7.999 L17.000,7.999 L17.000,8.999 L-0.000,8.999 L-0.000,7.999 ZM-0.000,3.999 L17.000,3.999 L17.000,4.999 L-0.000,4.999 L-0.000,3.999 ZM-0.000,-0.001 L17.000,-0.001 L17.000,0.999 L-0.000,0.999 L-0.000,-0.001 Z"></path>
    </svg>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="d-flex align-items-center ml-auto">

                                            <div class="hs-unfold d-xl-none">
                                                <a class="js-hs-unfold-invoker text-dark font-weight-bold" href="javascript:;" data-hs-unfold-options='{
                                                                "target": "#sidebarContent-menu",
                                                                "type": "css-animation",
                                                                "animationIn": "fadeInLeft",
                                                                "animationOut": "fadeOutLeft",
                                                                "hasOverlay": "rgba(55, 125, 255, 0.1)",
                                                                "smartPositionOff": true
                                                            }'><i class="fas fa-sliders-h"></i><span class="ml-2 font-secondary">FILTERS</span>
    </a>
                                            </div>





                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content dark mb-4">
                                <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab">
                                    <div class="border-bottom border-gray-3900 mb-4 mb-md-3 pb-4">
                                        <div class="row  row-cols-xl-5 mb-md-4 pb-md-1">
                                            <div class="col-md px-2" *ngFor="let series of allSeries">
                                                <div class="product mb-3 mb-md-0">
                                                    <div class="product-image mb-2">
                                                        <a class="d-block position-relative stretched-link" (click)="navigate('series/' + series.id)">
                                                            <img class="img-fluid" [src]="series.small" [alt]="series.name">
                                                        </a>
                                                    </div>
                                                    <div class="product-meta font-size-12">
                                                        <span><a (click)="navigate('series/' + series.id)" class="h-g-primary" tabindex="0">{{series.category.name}}</a></span>

                                                    </div>
                                                    <h6 class="font-size-1 font-weight-bold mb-0 product-title d-inline-block">
                                                        <a (click)="navigate('series/' + series.id)">{{series.name}}</a>
                                                    </h6>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-two-example1" role="tabpanel" aria-labelledby="pills-two-example1-tab">
                                    <div class="border-bottom border-gray-3900 mb-3 pb-4">
                                        <div class="row mx-n2">
                                            <div class="col-md-3 px-2" *ngFor="let series of allSeries">
                                                <div class="product mb-4 pb-1">
                                                    <div class="product-image mb-2">
                                                        <a class="d-block position-relative stretched-link" (click)="navigate('series/' + series.id)">
                                                            <img class="img-fluid" [src]="series.small" [alt]="series.name">
                                                        </a>
                                                    </div>
                                                    <div class="product-meta font-size-12">
                                                        <span><a (click)="navigate('series/' + series.id)" class="h-g-primary" tabindex="0">{{series.category.name}}</a></span>

                                                    </div>
                                                    <h6 class="font-size-1 font-weight-bold mb-0 product-title d-inline-block">
                                                        <a (click)="navigate('series/' + series.id)">{{series.name}}</a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-three-example1" role="tabpanel" aria-labelledby="pills-three-example1-tab">


                                    <div class="product h-btn-show dark" *ngFor="let series of allSeries">
                                        <div class="row border-bottom py-3 no-gutters border-gray-3200">
                                            <div class="col-md-4 col-xl-3 my-auto">
                                                <div class="product-image mb-3 mb-md-0">
                                                    <a (click)="navigate('series/' + series.id)" class="d-inline-block position-relative stretched-link"><img class="img-fluid" [src]="series.small" [alt]="series.name"></a>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="px-md-4d mt-2d">
                                                    <div>
                                                        <div class="product-meta font-size-12">
                                                            <span><a (click)="navigate('series/' + series.id)" class="h-g-primary" tabindex="0">{{series.category.name}}</a></span>

                                                        </div>
                                                        <h6 class="font-size-1 font-weight-bold mb-3 product-title d-inline-block">
                                                            <a (click)="navigate('series/' + series.id)">{{series.name}}</a>
                                                        </h6>
                                                        <div class="font-size-12 mb-2 text-gray-1300">
                                                            <a (click)="navigate('series/' + series.id)">{{ series.created_at }}</a>
                                                        </div>
                                                        <p class="font-size-1  text-gray-1300line-clamp-1 mb-2 pb-1">{{series.description}}</p>
                                                        <div class="d-flex d-xl-none btn-show">
                                                            <a (click)="navigate('series/' + series.id)" class="btn btn-primary d-flex align-items-center justify-content-center mb-3 mb-md-0 font-size-12 font-awesoment-secondary px-3 h-44rem" tabindex="0">
                                                                <span class="mx-1">VIEW NOW</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto d-flex justify-content-center flex-column pr-3">
                                                <div class="rating-number position-relative font-size-42 mb-3">
                                                    <i class="fas fa-eye d-flex justify-content-center">
    </i>
                                                    <span class="font-size-13 font-weight-bold text-gray-1300 position-absolute bottom-0 top-0 right-0 left-0 d-flex align-items-center justify-content-center mt-1d">{{series.views}}</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane fade" id="pills-four-example1" role="tabpanel" aria-labelledby="pills-four-example1-tab">
                                    <div class="product h-btn-show dark" *ngFor="let series of allSeries">
                                        <div class="row no-gutters border-bottom py-3 border-gray-3200">
                                            <div class="col-md-4 col-xl-2 my-auto">
                                                <div class="product-image mb-3 mb-md-0">
                                                    <a (click)="navigate('series/' + series.id)" class="d-inline-block position-relative stretched-link"><img class="img-fluid" [src]="series.small" [alt]="series.name"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-xl-10 d-flex flex-column justify-content-center">
                                                <div class="pl-md-4">
                                                    <div>
                                                        <div class="product-meta font-size-12">
                                                            <span><a (click)="navigate('series/' + series.id)" class="h-g-primary" tabindex="0">{{series.category.name}}</a></span>

                                                        </div>
                                                        <h6 class="font-size-1 font-weight-bold mb-3  product-title d-inline-block">
                                                            <a (click)="navigate('series/' + series.id)">{{series.name}}</a>
                                                        </h6>
                                                        <div class="font-size-12 mb-2 text-gray-1300">{{series.created_at}}
                                                        </div>
                                                        <div class="d-flex btn-show">
                                                            <a (click)="navigate('series/' + series.id)" class="btn btn-primary d-flex align-items-center justify-content-center mb-3 mb-md-0 font-size-12 font-awesoment-secondary px-3 h-44rem" tabindex="0"><span class="mx-1">VIEW NOW</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-five-example1" role="tabpanel" aria-labelledby="pills-five-example1-tab">
                                    <div class="row border-bottom border-gray-3800 mb-4 mb-md-6 pb-4 pb-md-6">
                                        <div class="col-md-6" *ngFor="let series of allSeries">
                                            <div class="product mb-3 mb-md-0 border-md-right-dark">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="product-image mb-2 mb-md-0">
                                                            <a (click)="navigate('series/' + series.id)" class="d-inline-block position-relative stretched-link"><img class="img-fluid" [src]="series.small" [alt]="series.name"></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 d-flex flex-column justify-content-center">
                                                        <div>
                                                            <div>
                                                                <div class="product-meta font-size-12">
                                                                    <span><a (click)="navigate('series/' + series.id)" class="h-g-primary" tabindex="0">{{series.category.name}}</a></span>

                                                                </div>
                                                                <h6 class="font-size-1 font-weight-bold mb-3 product-title d-inline-block">
                                                                    <a (click)="navigate('series/' + series.id)">{{series.name }}</a>
                                                                </h6>
                                                                <div class="font-size-12 mb-2 text-gray-1300">{{series.created_at}}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-md-flex justify-content-between" *ngIf="total > limit">
                                <div class="font-secondary font-size-1 font-weight-normal text-gray-1300 text-center text-md-left mb-3 mb-md-0">Showing {{start + 1}} – {{ start + limit
                                    < total ? start + limit : total }} of {{ total}} results</div>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination custom-pagination-dark justify-content-center justify-content-md-start mb-0">
                                                <li class="page-item" *ngIf="start > 0">
                                                    <a class="page-link" (click)="previousPage()">Previous Page<i class="fas fa-long-arrow-alt-left ml-2 font-size-11"></i></a>
                                                </li>
                                                <li class="page-item" *ngIf="total > limit + start">
                                                    <a class="page-link" (click)="nextPage()">Next Page<i class="fas fa-long-arrow-alt-right ml-2 font-size-11"></i></a>
                                                </li>
                                            </ul>
                                        </nav>
                                </div>
                        </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<app-footer></app-footer>