<form class="js-validate">

    <div id="login">

        <div class="text-center mb-7">
            <h3 class="mb-0">Sign In to PLINVR</h3>
            <p>Login to manage your account.</p>
            <p class="text-danger">{{ message }}</p>
        </div>


        <div class="js-form-message mb-4">
            <label class="input-label">Email</label>
            <div class="input-group input-group-sm mb-2">
                <input type="email" class="form-control" name="email" [(ngModel)]="email" id="signinEmail" placeholder="Email" aria-label="Email" required data-msg="Please enter a valid email address.">
            </div>
        </div>


        <div class="js-form-message mb-3">
            <label class="input-label">Password</label>
            <div class="input-group input-group-sm mb-2">
                <input type="password" class="form-control" name="password" [(ngModel)]="password" id="signinPassword" placeholder="Password" aria-label="Password" required data-msg="Your password is invalid. Please try again.">
            </div>
        </div>

        <div class="d-flex justify-content-end mb-4">
            <a class="js-animation-link small link-underline" href="javascript:;" data-hs-show-animation-options='{
                    "targetSelector": "#forgotPassword",
                    "groupName": "idForm"
                }'>Forgot Password?
           </a>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-sm btn-primary btn-block" (click)="submit()">Sign In</button>
        </div>
        <div class="text-center mb-3">
            <span class="divider divider-xs divider-text">OR</span>
        </div>
        <a class="btn btn-sm btn-ghost-secondary btn-block mb-2" href="#">
            <span class="d-flex justify-content-center align-items-center">
            <i class="fab fa-google mr-2"></i>
            Sign In with Google
            </span>
        </a>
        <div class="text-center">
            <span class="small text-muted">Do not have an account?</span>
            <a class="js-animation-link small font-weight-bold" href="javascript:;" data-hs-show-animation-options='{
                    "targetSelector": "#signup",
                    "groupName": "idForm"
                }'>Sign Up
            </a>
        </div>
    </div>

    <app-register id="signup" style="display: none; opacity: 0;" (success)="successRegister($event)"></app-register>
    <app-forgot-password id="forgotPassword" style="display: none; opacity: 0;"></app-forgot-password>
</form>