<!-- content start -->

<div class="container-fluid m-0 p-0  main">
    <router-outlet></router-outlet>
</div>
<!-- content stop -->

<app-modal modaId="loginModal">
    <app-login></app-login>
</app-modal>