<div class="col-lg-auto bg-gray-3100 d-none d-xl-block">
    <div class="position-relative h-100">
        <div class="py-6 pr-3d h-100 max-w-270rem sidebar-area-dark h-100">

            <div class="border-bottom pb-3 mb-5 border-gray-3700">
                <h6 class="font-secondary font-size-18 font-weight-medium border-bottom border-gray-3700 pb-2 mb-5 text-white">Categories</h6>
                <ul class="list-unstyled h-bg-1-dark">

                    <li class="px-3 py-1 mb-1" *ngFor="let category of categories">
                        <a (click)="navigate('category/' + category.name)" class="d-flex align-items-center mx-1">
                            <i class="text-gray-1300 fas fa-thumbs-up"></i>
                            <span class="font-size-1 ml-3 text-gray-3500">{{ category.name }}</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="border-bottom pb-3 mb-5 border-gray-3700">
                <h6 class="font-secondary font-size-18 font-weight-medium border-bottom border-gray-3700 pb-2 mb-5 text-white">Tags</h6>
                <ul class="list-unstyled h-bg-1-dark">

                    <li class="px-3 py-1 mb-1" *ngFor="let tag of tags">
                        <a (click)="navigate('tag/' + tag.name)" class="d-flex align-items-center mx-1">
                            <i class="text-gray-1300 fas fa-thumbs-up"></i>
                            <span class="font-size-1 ml-3 text-gray-3500">{{ tag.name }}</span>
                        </a>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</div>