.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: filter 0.5s ease;
}

.grid-item:active,
.grid-item:hover {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.grid_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 60px 3px 0px 3px;
    margin-bottom: 70px;
}

.wh-50 {
    width: 50%;
    height: 50vw;
    padding: 3px;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
}

.wh-33 {
    width: 33.3%;
    height: 33.3vw;
    padding: 3px;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
}

.sex {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0 5px;
    border-radius: 10px;
    color: #fff;
}

.p-70 {
    padding-top: 70px;
}

.mb-10 {
    margin-bottom: 10px;
}

.a-none {
    text-decoration: none;
}

.slide-right {
    animation: slide-right 1s forwards;
    transform: translateX(-100%);
}

.slide-left {
    animation: slide-right 1s forwards;
    transform: translateX(100%);
}

@keyframes slide-right {
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    to {
        transform: translateX(0);
    }
}

.profile-thumb {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.add-img {
    position: absolute;
    top: 175px;
    margin-left: 35px;
    left: 50%;
    cursor: pointer;
}

.image-upload>input {
    display: none;
}

.space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100% !important;
}

.divider {
    border-top: 1px solid rgb(233, 233, 233);
    padding: 10px 0;
}

.profile-container {
    padding: 0 15px 50px 15px;
}

.speech-bubble-left {
    position: relative;
    background: #F1EAEA;
    border-radius: 10px;
    width: 50%;
    margin: 0 0 15px 15px;
    float: left;
}

.speech-bubble-right {
    position: relative;
    background: #8b0000;
    color: #fff;
    width: 50%;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    float: right;
}

.speech-bubble-left p,
.speech-bubble-right p {
    padding: 10px 20px;
    margin: 0;
}

.speech-bubble-right p {
    text-align: right;
}

.speech-bubble-left:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: #F1EAEA;
    border-bottom: 0;
    border-left: 0;
    margin-left: -7px;
    margin-bottom: -14px;
}

.speech-bubble-right:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 90%;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-top-color: #8b0000;
    border-bottom: 0;
    border-right: 0;
    margin-left: -7px;
    margin-bottom: -14px;
}

.background-item {
    position: absolute;
    left: 50%;
    top: 34%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 265px;
    width: 70vw;
    animation: popUpBackground 2s forwards;
}

@keyframes popUpBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.user-thumb {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 200px;
    max-height: 200px;
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
    overflow: hidden;
    animation: popUpBackground 1s forwards;
}

.annc {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    animation: popUpBackground 2s forwards;
}

@media screen and (max-width: 350px) {
    .annc {
        font-size: 18px;
    }
}

@media screen and (min-height: 800px) {
    .annc {
        top: 47%;
    }
}

@media screen and (min-height: 900px) {
    .annc {
        top: 44%;
    }
}

@media screen and (max-height: 620px) {
    .annc {
        top: 52%;
        font-size: 18px;
    }
    .bd-text {
        display: none;
    }
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hidden-def {
    position: fixed;
    top: 0;
    left: 0;
    background: #ececec !important;
    z-index: 12;
    width: 100%;
    padding-bottom: 60px !important;
    min-height: 100vh;
}