<app-header></app-header>
<main id="content">
    <div class="container p-70 pb-50" *ngIf="user">
        <div class="profile-thumb">
            <img class="grid-item" [src]="user.full_path" id="profile-image" default="assets/imgs/default.png" style="width:100%;" />
        </div>
        <div>
            <form action="/update" id="image-form" method="POST" enctype="multipart/form-data">
                <div class="image-upload">
                    <label for="file-input">
                            <img class="add-img" src="/assets/imgs/Group 31.svg"/>
                        </label>
                    <input id="file-input" name="photo" type="file" (change)="handleFileSelect()">
                </div>
                <h4 class="text-center"><strong>Hi, {{ user.lastname }} {{ user.firstname }}</strong></h4>
                <p class="text-center">{{ user.email }}</p>
                <p class="text-center">
                    <a class="color-primary" (click)="navigate('favourite')">My Favourites</a>
                    <br/>

                    <a class="color-primary" (click)="logout()">Logout</a>
                </p>
                <p></p>
            </form>
        </div>
    </div>
</main>
<app-footer></app-footer>