<div>

    <div class="text-center mb-7">
        <h3 class="mb-0">Recover password</h3>
        <p>Instructions will be sent to you.</p>
    </div>


    <div class="js-form-message">
        <label class="sr-only" for="recoverEmail">Your email</label>
        <div class="input-group input-group-sm mb-2">
            <input type="email" class="form-control" name="email" id="recoverEmail" placeholder="Your email" aria-label="Your email" required data-msg="Please enter a valid email address.">
        </div>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-sm btn-primary btn-block">Recover Password</button>
    </div>
    <div class="text-center mb-4">
        <span class="small text-muted">Remember your password?</span>
        <a class="js-animation-link small font-weight-bold" href="javascript:;" data-hs-show-animation-options='{
                "targetSelector": "#login",
                "groupName": "idForm"
            }'>Login
        </a>
    </div>
</div>