<app-header></app-header>
<main id="content" *ngIf="vr">
    <div class="bg-gray-1100 dark pb-5">
        <div class="container px-md-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb dark flex-nowrap flex-md-wrap overflow-auto overflow-md-hidden">
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1"><a (click)="navigate('/')" class="text-gray-1300">Home</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1"><a (click)="navigate('category/' + vr.category.name)" class="text-gray-1300">{{ vr.category.name }}</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-shrink-md-1 active">{{ vr.name }}</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-9">
                    <div class="mb-6 mb-md-0">
                        <div class="mb-5 pb-1">
                            <div class="p-5 m-5" *ngIf="loadingSpinner">
                                <img src="assets/imgs/loading.gif" class="d-block mx-auto" style="width: 300px;" />
                            </div>
                            <iframe [class]="isFullscreen ? 'large' : 'w-100 h-lg-down-100 position-xl-relative top-0 bottom-0 border-0'" height="620" style="min-height: 500px;" [src]="safeVRURL" (load)="loadingSpinner = false;"></iframe>
                            <a (click)="isFullscreen=false;" *ngIf="isFullscreen" style="position: fixed; top:20px; left:20px; z-index: 1000000000000000000000000000000000000;"><i class="fas fa-arrow-left fa-3x color-white arrow"></i></a>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="row no-gutters mb-5 mb-lg-1">
                            <div class="col-lg">
                                <div class="mb-4 mb-md-0 pr-lg-5 pr-wd-0">
                                    <h6 class="font-size-26 text-white font-weight-medium font-secondary mb-5 text-lh-sm">{{ vr.name }}</h6>
                                    <ul class="list-unstyled nav nav-meta font-secondary mb-3">
                                        <li class="text-gray-1300 flex-shrink-0 flex-shrink-md-1">{{ vr.category.name }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-auto">


                            </div>
                        </div>
                        <div class="d-flex align-items-center text-gray-1300 mb-4 font-secondary">
                            <div>
                                <i class="far fa-eye font-size-18"></i>
                                <span class="font-size-12 font-weight-semi-bold ml-1">{{ vr.views }} Views</span>
                            </div>
                            <div (click)="isFullscreen = true;" class="d-flex align-items-center ml-5 text-gray-1300">
                                <div>
                                    <i class="fas fa-expand text-primary font-size-30"></i>
                                </div>
                                <span class="text-gray-1300 ml-2 pt-1"> Full Screen </span>
                            </div>
                            <div class="ml-6">
                                <div class="d-flex align-items-center ml-5 text-gray-1300" *ngIf="user && !isFavourite">
                                    <div>
                                        <i class="far fa-heart font-size-30"></i>
                                    </div>
                                    <a (click)="addFavourite()" class="text-gray-1300 ml-2">+ Playlist</a>
                                </div>
                                <div class="d-flex align-items-center ml-5 text-gray-1300" *ngIf="user && isFavourite">
                                    <div>
                                        <i class="far fa-heart font-size-30 color-red"></i>
                                    </div>
                                    <a (click)="removeFavourite()" class="text-gray-1300 ml-2">- Playlist</a>
                                </div>
                            </div>
                        </div>
                        <p class="mb-6 mb-lg-10 font-size-15 text-gray-1800 pr-lg-6 text-lh-lg">{{vr.description}}
                        </p>
                        <div>
                            <div class="tab-nav__v10">
                                <ul class="nav justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active pb-3" id="pills-one-code-features-example-tab" data-toggle="pill" href="#pills-one-code-features-example" role="tab" aria-controls="pills-two-code-features-example" aria-selected="true">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pb-3" id="pills-two-code-features-example-tab" data-toggle="pill" href="#pills-two-code-features-example" role="tab" aria-controls="pills-two-code-features-example" aria-selected="false">Review</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-gray-3100">
                                <div class="container px-md-5 py-5 pt-lg-7 pb-lg-9">
                                    <div class="tab-content mb-1">
                                        <div class="tab-pane fade show active" id="pills-one-code-features-example" role="tabpanel" aria-labelledby="pills-one-code-features-example-tab">
                                            <p class="text-white mb-0 line-height-lg" *ngIf="series">{{ series.description}}</p>
                                        </div>
                                        <div class="tab-pane fade" id="pills-two-code-features-example" role="tabpanel" aria-labelledby="pills-two-code-features-example-tab">
                                            <div class="home-section">
                                                <header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100">
                                                    <h6 class="section-title-dark d-block position-relative font-size-18 font-weight-medium overflow-md-hidden m-0 text-white flex-grow-1">Add a review</h6>
                                                </header>
                                            </div>
                                            <div *ngIf="!user" class="text-gray-1300 mb-8">You must be
                                                <a href="javascript:;" data-toggle="modal" data-target="#loginModal">logged in</a> to post a review.
                                            </div>
                                            <div *ngIf="user && !showCommentForm" class="text-gray-1300 mb-8"> Your Comment has been submitted click on
                                                <a (click)="showCommentForm = true">new comment</a> to post a review.
                                            </div>
                                            <div *ngIf="user && showCommentForm" class="text-gray-1300 mb-8">
                                                <form>
                                                    <div>{{ message }}</div>
                                                    <div class="js-form-message mb-3">
                                                        <label class="input-label font-size-15 font-weight-medium">Your Comment</label>
                                                        <div class="input-group">
                                                            <textarea class="form-control rounded-0" rows="8" name="text" placeholder="" [(ngModel)]="comment" aria-label="Hi there, I would like to ..." required data-msg="Please enter a reason."></textarea>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button type="button" (click)="submit()" class="btn btn-primary px-3 transition-3d-hover border-radius-sm font-size-1">
                                                        <span class="mx-1">Send</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div>
                                                <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">User Comments</div>
                                                <div *ngFor="let comment of comments">
                                                    <div class="border-bottom border-gray-5300 mb-4 pb-4 d-flex mb-3 pb-1" *ngIf="comment.user">
                                                        <div *ngIf="comment.user.photo">
                                                            <img class="img-fluid rounded-circle" [src]="comment.user.small" [alt]="comment.user.lastname">
                                                        </div>
                                                        <div class="ml-3">
                                                            <div class="mb-2">
                                                                <span class="text-primary">{{ comment.user.lastname }} {{comment.user.firstname }}</span>
                                                                <span class="text-gray-1300 ml-1">March 1, 2020</span>
                                                            </div>
                                                            <div class="form-group d-flex align-items-center justify-content-between font-size-15 text-gray-1300 text-lh-lg text-body mb-0">
                                                                {{comment.comment}}
                                                            </div>
                                                        </div>
                                                        <div class="text-white mb-2 pb-1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md" *ngIf="series">
                    <div class="pl-md-2 ml-md-1">
                        <div class="product">
                            <div class="row mx-n2 mb-7">
                                <div class="col-md-6 px-2">
                                    <div class="product-image mb-2">
                                        <a (click)="navigate('series/' + series.id)" class="d-inline-block position-relative stretched-link" tabindex="0">
                                            <img class="img-fluid" [src]="series.small" [alt]="series.name">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 px-2">
                                    <div>
                                        <div class="product-meta font-size-12">
                                            <span><a (click)="navigate('category/' + series.category.id)" class="h-g-primary" tabindex="0">{{ series.category.name }}</a></span>

                                        </div>
                                        <div class="product-title font-size-19 font-weight-bold mb-0">
                                            <a (click)="navigate('series/' + series.id)" tabindex="0">{{ series.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-one-code-features-example1" role="tabpanel" aria-labelledby="pills-one-code-features-example1-tab">
                                <h6 class="font-size-24 font-weight-medium text-white border-bottom mb-3 pb-2 border-gray-5800">Episodes of {{ series.name }}</h6>
                                <div class="font-size-1 mb-2" *ngFor="let episode of series.episodes; let x=index">
                                    <a (click)="navigate('episode/' + episode.id)" class="text-gray-1300 h-color-white">
                                        <span>Episode {{ x + 1 }} : </span>
                                        <span>{{ episode.name }}</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>