<app-header></app-header>
<main id="content" *ngIf="vr">
    <div class="bg-gray-1100 pt-5 pb-4">
        <div class="container mb-1">
            <nav class=" px-md-5 " aria-label="breadcrumb">
                <ol class="breadcrumb dark font-size-1">
                    <li class="breadcrumb-item"><a (click)="navigate('/')" class="text-gray-1300">Home</a></li>
                    <li class="breadcrumb-item"><a (click)="navigate('category/' + vr.category.name)" class="text-gray-1300">{{ vr.category.name }}</a></li>
                    <li class="breadcrumb-item text-white active">{{ vr.name }}</li>
                </ol>
            </nav>
            <div class="p-5 m-5" *ngIf="loadingSpinner">
                <img src="assets/imgs/loading.gif" class="d-block mx-auto" style="width: 300px;" />
            </div>
            <iframe class="" [class]="isFullscreen ? 'large' : 'w-100 h-lg-down-100'" height="620" [src]="saveVideoURL" (load)="loadingSpinner = false;"></iframe>
            <a (click)="isFullscreen=false;" *ngIf="isFullscreen" style="position: fixed; top:20px; left:20px; z-index: 1000000000000000000000000000000000000;"><i class="fas fa-arrow-left fa-3x color-white arrow"></i></a>
            <div class="  px-md-5 d-md-flex align-items-center justify-content-between">
                <div>
                    <h6 class="font-size-24 text-white font-weight-semi-bold font-secondary mb-3 mb-md-1">{{vr.name}}</h6>
                    <ul class="list-unstyled nav nav-meta font-secondary mb-3 overflow-auto overflow-md-hidden flex-nowrap flex-md-wrap">
                        <li class="text-white flex-shrink-0 flex-shrink-md-1"><a (click)="navigate('category/' + vr.category.id)">{{vr.category.name}} </a> </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex">
                        <div>
                            <i class="fas fa-eye text-primary font-size-30"></i>
                        </div>
                        <span class="text-gray-1300 ml-2 pt-1"> {{ vr.views }} Views</span>
                    </div>
                    <div (click)="isFullscreen = true;" class="d-flex align-items-center ml-5 text-gray-1300">
                        <div>
                            <i class="fas fa-expand text-primary font-size-30"></i>
                        </div>
                        <span class="text-gray-1300 ml-2 pt-1"> Full Screen </span>
                    </div>
                    <div class="d-flex align-items-center ml-5 text-gray-1300" *ngIf="user && !isFavourite">
                        <div>
                            <i class="far fa-heart font-size-30"></i>
                        </div>
                        <a (click)="addFavourite()" class="text-gray-1300 ml-2">+ Favourite</a>
                    </div>
                    <div class="d-flex align-items-center ml-5 text-gray-1300" *ngIf="user && isFavourite">
                        <div>
                            <i class="far fa-heart font-size-30 color-red"></i>
                        </div>
                        <a (click)="removeFavourite()" class="text-gray-1300 ml-2">- Favourite</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray-1100 pt-5 pb-7">
        <div class="container px-md-5 mb-1">
            <div class="tab-nav__v10 mb-6">
                <ul class="nav justify-content-center border-bottom border-gray-5300" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-one-code-features-example2-tab" data-toggle="pill" href="#pills-one-code-features-example2" role="tab" aria-controls="pills-two-code-features-example2" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-two-code-features-example2-tab" data-toggle="pill" href="#pills-two-code-features-example2" role="tab" aria-controls="pills-two-code-features-example2" aria-selected="false">Review</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content mb-9 pb-1">
                <div class="tab-pane fade show active" id="pills-one-code-features-example2" role="tabpanel" aria-labelledby="pills-one-code-features-example2-tab">
                    <div class="product">
                        <div class="row">
                            <div class="col-md-2">
                                <a class="product-image d-block mb-3 mb-md-0" (click)="navigate('vr-experience/' + vr.name)">
                                    <img class="img-fluid" [src]="vr.small" [alt]="vr.name">
                                </a>
                            </div>
                            <div class="col-md-5">
                                <h6 class="font-size-24 text-white font-weight-semi-bold font-secondary mb-4 mb-md-3">{{vr.name}}</h6>
                                <ul class="list-unstyled nav nav-meta font-secondary mb-4 pb-1">
                                    <li class="text-white">{{ vr.category.name }}</li>
                                </ul>
                                <div class="d-flex align-items-center text-gray-1300 mb-3 mb-md-0">
                                    <div>
                                        <i class="far fa-eye font-size-18"></i>
                                        <span class="font-size-12 font-weight-semi-bold ml-1">{{ vr.views }} views</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md">
                                <div class="pt-md-6">
                                    <div class="text-white">Description:
                                        <p> {{ vr.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-two-code-features-example2" role="tabpanel" aria-labelledby="pills-two-code-features-example2-tab">
                    <div class="home-section">
                        <header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100">
                            <h6 class="section-title-dark d-block position-relative font-size-18 font-weight-medium overflow-md-hidden m-0 text-white flex-grow-1">Add a review</h6>
                        </header>
                    </div>
                    <div *ngIf="!user" class="text-gray-1300 mb-8">You must be
                        <a href="javascript:;" data-toggle="modal" data-target="#loginModal">logged in</a> to post a review.
                    </div>
                    <div *ngIf="user && !showCommentForm" class="text-gray-1300 mb-8"> Your Comment has been submitted click on
                        <a (click)="showCommentForm = true">new comment</a> to post a review.
                    </div>
                    <div *ngIf="user && showCommentForm" class="text-gray-1300 mb-8">
                        <form>
                            <div>{{ message }}</div>
                            <div class="js-form-message mb-3">
                                <label class="input-label font-size-15 font-weight-medium">Your Comment</label>
                                <div class="input-group">
                                    <textarea class="form-control rounded-0" rows="8" name="text" placeholder="" [(ngModel)]="comment" aria-label="Hi there, I would like to ..." required data-msg="Please enter a reason."></textarea>
                                </div>
                            </div>
                            <div>
                                <button type="button" (click)="submit()" class="btn btn-primary px-3 transition-3d-hover border-radius-sm font-size-1">
                                <span class="mx-1">Send</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">User Comments</div>
                        <div class=" " *ngFor="let comment of comments">
                            <div class="mb-4 pb-4 border-bottom border-gray-5300 d-flex mb-3 pb-1" *ngIf=" comment.user">
                                <div *ngIf=" comment.user && comment.user.photo">
                                    <img class="img-fluid rounded-circle" [src]="comment.user.full_path" [alt]="comment.user.lastname" width="35px" height="35px">
                                </div>
                                <div class="ml-3">
                                    <div class="mb-2">
                                        <span class="text-primary">{{comment.user.lastname }} {{comment.user.firstname }}</span>
                                        <span class="text-gray-1300 ml-1">March 1, 2020</span>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between font-size-15 text-gray-1300 text-lh-lg text-body mb-0">
                                        {{comment.comment}}
                                    </div>
                                </div>
                                <div class="text-white mb-2 pb-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-3100 pt-5 pb-6" *ngIf="vrs && vrs.length > 0">
        <div class="container px-md-5">
            <h6 class="text-white font-size-22 font-secondary font-weight-medium mb-4">You may also like section</h6>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-8 mx-n2 dark">
                <div *ngFor="let vr of vrs" class=" col-6 col-sm-4 col-md-2  col-lg-2 col-xl-2 px-2 pb-4">
                    <div class="product mb-5 mb-xl-0">
                        <div class="product-image mb-2">
                            <a (click)="navigate('vr-experience/' + vr.name)" class="d-inline-block position-relative stretched-link">
                                <img class="img-fluid" [src]="vr.thumbnail" [alt]="vr.name">
                            </a>
                        </div>
                        <div class="product-meta font-size-12 mb-1">
                            <span><a *ngFor="let tag of tagsToArray( vr.tags)" (click)="navigate('tag/' + tag)" class="pr-2 tag h-g-primary">{{ tag }}</a></span>
                        </div>
                        <div class="product-title font-weight-bold font-size-1"><a (click)="navigate('vr-experience/' + vr.name)">{{ vr.name }}</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>