/* You can add global styles to this file, and also import other style files */

@import 'assets/vendor/font-awesome/css/all.min.css';
@import 'assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css';
@import 'assets/vendor/dzsparallaxer/dzsparallaxer.css';
@import 'assets/vendor/cubeportfolio/css/cubeportfolio.min.css';
@import 'assets/vendor/aos/dist/aos.css';
@import 'assets/vendor/slick-carousel/slick/slick.css';
@import 'assets/vendor/fancybox/dist/jquery.fancybox.css';
@import 'assets/css/theme.css';
@media (min-width: 1340px) {
    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl,
    .container-wd {
        max-width: 100% !important;
    }
}

.color-red {
    color: red;
}

a {
    cursor: pointer;
}

.bg-img-hero {
    background-size: cover;
    background-position: center;
}

#content {
    min-height: 500px;
}

.max-w-md-1160 {
    min-height: 450px;
}

.h-g-primary {
    color: #949cb0 !important;
}

.btn-outline-light,
.text-red-3,
.flex-shrink-md-1 {
    color: #fff !important;
}

.hero-default,
.text-red-3,
.flex-shrink-md-1,
.arrow {
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}

.h-g-white {
    color: #949cb0!important;
}

.btn-outline-light:hover {
    color: #000 !important;
}

.tag {
    border-right: 1px solid #949cb0;
    margin-right: 0.6rem;
}

.tag:last-child {
    border-right: none;
}

.large {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000000000;
}

.hs-mega-menu {
    min-width: 100vw;
    width: 100vw;
    left: 0px !important;
    right: 0px !important;
    float: left !important;
    overflow: hidden !important;
}

.hs-unfold-dropdown {
    position: static;
    overflow: hidden !important;
}