<app-header></app-header>
<div class="splash d-flex justify-content-center align-items-center" *ngIf="showSplash" style="position: fixed; width: 100%; min-height: 100%; top:0px;left: 0px; background: black; z-index: 1000000000;">
    <img src="assets/imgs/plinvr-logo.png" style="width: 200px;" />
</div>
<main id="content" style="padding-bottom: 0px; margin-bottom: 0px;">
    <div class="home-slider position-relative overflow-hidden">
        <div *ngIf="featuredVRs &&  featuredVRs.length > 0" id="sliderSyncingNav" class="js-slick-carousel slick" data-hs-slick-carousel-options='{
                "dots": true,
                "dotsClass": "d-xl-none slick-pagination mb-3 position-absolute right-0 left-0 bottom-0",
                "infinite": true,
                "asNavFor": "#sliderSyncingThumb"
            }'>
            <div *ngFor="let vr of featuredVRs" class="bg-img-hero hero-default d-flex align-items-center min-h-676rem slider-gradient" [ngStyle]="{'background-image': 'url(' + vr.raw + ')'}">
                <div class="container">
                    <div class="mx-3 mx-md-5  col-xl-5 px-0">
                        <h1 class="display-3 mb-3"><a (click)="navigate('vr-experience/' + vr.id)" class="h-w-primary">{{vr.name}}</a></h1>
                        <div class="mb-4d">
                            <ul class="list-unstyled nav nav-meta nav-meta__white">
                                <li class="">
                                    <a *ngFor="let tag of tagsToArray( vr.tags)" (click)="navigate('tag/' + tag)" class="pr-2 tag">{{ tag }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-md-flex">
                            <a (click)="navigate('vr-experience/' + vr.id)" class="btn btn-primary px-6 py-3d btn-sm  mb-md-0">VIEW NOW</a>
                            <a (click)="addFavourite(vr.id)" class="btn btn-outline-light ml-sm-2  ml-md-4 px-6 py-3d btn-sm">+ FAVOURITE</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  <div class="d-none d-xl-flex position-xl-absolute col-xl-6 mr-3 right-0 bottom-0  mb-xl-12  slider-m-0 flex-column">
            <h4 class="text-white font-size-22 font-weight-normal mb-3">Todays Recomendation</h4>
            <div id="sliderSyncingThumb" class="js-slick-carousel slick slick-gutters-1 slick-transform-off" data-hs-slick-carousel-options='{
                    "infinite": true,
                    "slidesToShow": 8,
                    "isThumbs": true,
                    "asNavFor": "#sliderSyncingNav",
                    "responsive": [{
                        "breakpoint": 1199,
                        "settings": {
                            "slidesToShow": 2
                        },
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 2
                        }
                    }]
                }'>
                <div *ngFor="let vr of vrs" class="my-1d" style="cursor: pointer;">
                    <img class="img-fluid" width="235" height="147" [src]="vr.small" [alt]="vr.name">
                </div>
            </div>
        </div>-->
    </div>

    <section class="bg-gray-1100 dark">
        <div class="container px-md-4">
            <div class="row mb-xl-5">
                <div class="col-xl-auto d-flex">
                    <header class="max-w-370 mt-auto mb-8 title-dash">
                        <h3 class="display-7 text-white mb-3 pr-xl-12 font-weight-semi-bold">Popular experiences to view</h3>
                        <div class="border-top border-g-1200-op mr-xl-7">
                            <a (click)="navigate('category/all')" class="h-w-primary text-gray-1300 font-size-13 d-inline-flex align-items-center pt-2 font-secondary font-weight-medium">VIEW ALL
                                <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="4" height="7"><path d="M3.979,3.703 C3.987,3.785 3.966,3.869 3.903,3.934 L1.038,6.901 C0.921,7.023 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.011,6.203 0.128,6.082 L2.190,3.946 C2.276,3.829 2.356,3.691 2.356,3.548 C2.356,3.214 1.947,2.885 1.947,2.885 L1.963,2.877 L0.080,0.905 C-0.036,0.784 -0.029,0.592 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.867,-0.039 0.983,0.083 L3.823,3.057 C3.867,3.102 3.876,3.161 3.885,3.218 C3.945,3.267 3.988,3.334 3.988,3.416 L3.988,3.681 C3.988,3.690 3.979,3.694 3.979,3.703 Z" fill="rgb(148, 156, 176)" /></svg>
                            </a>
                        </div>
                    </header>
                </div>
                <div class="col">
                    <div class="row row-cols-2 row-cols-md-5 py-4">
                        <div *ngFor="let vr of popularVrs | slice:0:5" class="col mb-5 mb-xl-4">
                            <div class="product">
                                <div class="product-image mb-2">
                                    <span *ngIf="vr.is_featured == 1 " class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
                                    <a (click)="navigate('vr-experience/' + vr.id)" class="d-inline-block position-relative stretched-link"><img class="img-fluid" [src]="vr.thumbnail" [alt]="vr.name"></a>
                                </div>
                                <div class="product-meta font-size-12 mb-1">
                                    <span><a *ngFor="let tag of tagsToArray( vr.tags)" (click)="navigate('tag/' + tag)" class="pr-2 tag h-g-primary">{{ tag }}</a></span>
                                </div>
                                <div class="product-title font-weight-bold font-size-1"><a (click)="navigate('vr-experience/' + vr.id)">{{vr.name}}</a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row row-cols-md-5 row-cols-xl b-5 pb-5">
                <div class="col-6 col-xl mb-5 mb-xl-0" *ngFor="let vr of popularVrs | slice:5">
                    <div class="product">
                        <div class="product-image mb-2">
                            <a (click)="navigate('vr-experience/' + vr.id)" class="d-inline-block position-relative stretched-link">
                                <span *ngIf="vr.is_featured == 1 " class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
                                <img class="img-fluid" [src]="vr.thumbnail" [alt]="vr.name">
                            </a>
                        </div>
                        <div class="product-meta font-size-12 mb-1">
                            <span><a *ngFor="let tag of tagsToArray( vr.tags)" (click)="navigate('tag/' + tag)" class="pr-2 tag h-g-primary">{{ tag }}</a></span>

                        </div>
                        <div class="product-title font-weight-bold font-size-1"><a (click)="navigate('vr-experience/' + vr.id)">{{vr.name}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-1 position-relative d-flex ">
            <button (click)="navigate('category/all')" class="btn btn-outline-dark-primary mx-auto px-7 py-3 font-size-1 z-index-2 font-weight-medium font-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            + View more
            </button>
            <div class="border-top content-centered w-100 border-gray-1400"></div>
        </div>
    </section>


    <div *ngIf="comingSoon" class="bg-img-hero hero-default space-3" [ngStyle]="{'background-image': 'url(' + comingSoon.raw + ')'}">
        <div class="container px-md-4">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="">
                        <h4 class="img-fluid mb-6 d-block color-white font-size-26">Coming Soon</h4>
                        <a class="display-8 h-w-primary d-inline-block font-secondary mb-6">{{ comingSoon.name }}</a>
                        <p class="text-gray-1800 mb-6 font-secondary d-block font-size-1 font-weight-medium">{{ comingSoon.description }}</p>

                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 d-none d-lg-flex align-items-center justify-content-center">
                    <div class="">

                        <a class="js-fancybox btn btn-play d-flex align-items-center justify-content-center rounded-circle">
                            <i class="fas fa-play text-primary"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="space-1 bg-gray-2800">
        <div class="container my-3">

            <div class="row">
                <div class="col">

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-one-code-example2" role="tabpanel" aria-labelledby="pills-one-code-example2-tab">

                            <div class="row" *ngIf=" olderVrs &&  olderVrs.length > 0">

                                <div class="col-md-7 col-lg-8 mb-md-5">
                                    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-5 mx-n2">

                                        <div *ngFor="let vr of olderVrs | slice:0:5" class="col mb-5 mb-xl-4">
                                            <div class="product">
                                                <div class="product-image mb-2">
                                                    <span *ngIf="vr.is_featured == 1 " class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
                                                    <a (click)="navigate('vr-experience/' + vr.id)" class="d-inline-block position-relative stretched-link"><img class="img-fluid" [src]="vr.thumbnail" [alt]="vr.name"></a>
                                                </div>
                                                <div class="product-meta font-size-12 mb-1">
                                                    <span><a *ngFor="let tag of tagsToArray( vr.tags)" (click)="navigate('tag/' + tag)" class="pr-2 tag h-g-primary">{{ tag }}</a></span>
                                                </div>
                                                <div class="product-title font-weight-bold font-size-1"><a (click)="navigate('vr-experience/' + vr.id)">{{vr.name}}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-lg-4 col-xl-3 d-flex">
                                    <header class="max-w-370 mt-5 mb-xl-8 title-dash">
                                        <h3 class="text-white1 display-7 mb-3 font-weight-semi-bold"> Recent VR Experiences</h3>
                                        <div class="mt-2">
                                            <a (click)="navigate('category/all')" class="h-w-primary text-gray-1300 d-inline-flex align-items-center pt-2 font-secondary font-weight-medium font-size-13">VIEW ALL
                                           </a>
                                        </div>
                                    </header>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <div *ngIf="series" class="bg-img-hero hero-default space-top-3 space-bottom-1  dark bg-gray-1100" [ngStyle]="{'background-image': 'url(' + series.raw + ')'}">
        <div class="text-center">
            <a href="#" class="display-8 h-w-primary d-inline-block font-secondary mb-5">{{ series.name }}</a>
            <p class="max-w-370 font-size-26 mx-auto text-white font-secondary mb-6">{{ series.description }}</p>
        </div>

        <div class="container">
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 no-gutters">
                <div *ngFor="let vr of series.episodes" class="col">
                    <div class="product px-2 mb-4">
                        <div class="product-image mb-1">
                            <a class="d-inline-block position-relative stretched-link" (click)="navigate('episode/' + vr.id)">
                                <img class="img-fluid" [src]="vr.small" [alt]="vr.name">
                            </a>
                        </div>
                        <div class="product-title">
                            <a class="d-inline-block" (click)="navigate('episode/' + vr.id)">
                                <div class="mb-0 font-weight-bold font-size-1">{{ vr.name }}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="space-1 bg-gray-2800">
        <div class="container my-3">

            <div class="row">
                <div class="col">

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-one-code-example2" role="tabpanel" aria-labelledby="pills-one-code-example2-tab">
                            <div class="row">
                                <div class="col-md-5 col-lg-4 mb-3 mb-md-5">
                                    <header class="max-w-370 mt-auto mb-xl-8 title-dash">
                                        <h3 class="display-7 mb-3 font-weight-semi-bold">V.R Experience Series</h3>
                                    </header>
                                </div>
                                <div class="col-md-7 col-lg-8 mb-md-5">
                                    <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 mx-n2">

                                        <div *ngFor="let series of allSeries" class="col px-2 mb-5 mb-md-0 d-md-none d-xl-block">
                                            <div class="product">
                                                <div class="product-image mb-2">
                                                    <a (click)="navigate('series/' + series.id)" class="d-inline-block position-relative stretched-link"><img class="img-fluid" [src]="series.thumbnail" [alt]="series.name"></a>
                                                </div>
                                                <div class="product-meta font-size-12 mb-1">

                                                    <span><a (click)="navigate('series/' + series.id)" class="h-g-primary">{{ series.category.name }}</a></span>
                                                </div>
                                                <div class="product-title font-weight-bold font-size-1"><a (click)="navigate('series/' + series.id)">{{ series.name}}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 mx-n2">

                                        <div *ngFor="let series of all2ndSeries" class="col px-2 mb-5 mb-md-0 d-md-none d-xl-block">
                                            <div class="product">
                                                <div class="product-image mb-2">
                                                    <a (click)="navigate('series/' + series.id)" class="d-inline-block position-relative stretched-link"><img class="img-fluid" [src]="series.thumbnail" [alt]="series.name"></a>
                                                </div>
                                                <div class="product-meta font-size-12 mb-1">

                                                    <span><a (click)="navigate('series/' + series.id)" class="h-g-primary">{{ series.category.name }}</a></span>
                                                </div>
                                                <div class="product-title font-weight-bold font-size-1"><a (click)="navigate('series/' + series.id)">{{ series.name}}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>