<div>
    <div class="text-center mb-7">
        <h3 class="mb-0">Create your account</h3>
        <p>Fill out the form to get started.</p>
        <p class="text-danger">{{ message }}</p>
    </div>
    <div class="js-form-message mb-4">
        <label class="input-label">Last Name</label>
        <div class="input-group input-group-sm mb-2">
            <input type="text" class="form-control" name="lastname" id="signupLastName" placeholder="Last Name" aria-label="Last Name" [(ngModel)]="lastname" required data-msg="Please enter last name.">
        </div>
    </div>
    <div class="js-form-message mb-4">
        <label class="input-label">First Name</label>
        <div class="input-group input-group-sm mb-2">
            <input type="text" class="form-control" name="firstname" id="signupFirstName" placeholder="First Name" aria-label="First Name" [(ngModel)]="firstname" required data-msg="Please enter firstname.">
        </div>
    </div>
    <div class="js-form-message mb-4">
        <label class="input-label">Email</label>
        <div class="input-group input-group-sm mb-2">
            <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email" aria-label="Email" [(ngModel)]="email" required data-msg="Please enter a valid email address.">
        </div>
    </div>
    <div class="js-form-message mb-4">
        <label class="input-label">Password</label>
        <div class="input-group input-group-sm mb-2">
            <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password" aria-label="Password" [(ngModel)]="password" required data-msg="Your password is invalid. Please try again.">
        </div>
    </div>
    <div class="js-form-message mb-4">
        <label class="input-label">Confirm Password</label>
        <div class="input-group input-group-sm mb-2">
            <input type="password" class="form-control" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" [(ngModel)]="confirm" aria-label="Confirm Password" required data-msg="Password does not match the confirm password.">
        </div>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-sm btn-primary btn-block" (click)="submit()">Sign Up</button>
    </div>
    <div class="text-center mb-3">
        <span class="divider divider-xs divider-text">OR</span>
    </div>
    <a class="btn btn-sm btn-ghost-secondary btn-block mb-2" href="#">
        <span class="d-flex justify-content-center align-items-center">
<i class="fab fa-google mr-2"></i>
Sign Up with Google
</span>
    </a>
    <div class="text-center">
        <span class="small text-muted">Already have an account?</span>
        <a class="js-animation-link small font-weight-bold" href="javascript:;" data-hs-show-animation-options='{
                "targetSelector": "#login",
                "groupName": "idForm"
            }'>Sign In
</a>
    </div>
</div>